body{
    background-color: burlywood;
    color: brown;
    text-align: center;
    width: 50%;
    margin: auto;
}
h3{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;

}
p{
    font-style: normal;
    margin-top: 0.5em;

}
img{
    height: 200px;
}

li{

    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: left;
}
footer{
    margin-top: 2em;
    text-align: left;
}
